@charset "UTF-8";
/*--------------------------------------------
Project    : phy
Version    : 1.0.0
Author     : phy
e-mail     : phys@gmail.com
Last change: 16/09/2018
----------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* =========================================
// 1.0 functions 方程式、variables 變數、mixins、重置
// ========================================= */
/* =========================================
// 2.0 setup 設定 - 動畫、基本、字型、通用
// ========================================= */
/* =========================================
// 3.0 vendors 外部引入使用
// ========================================= */
/* =========================================
// 4.0 Grid 格線
// ========================================= */
/* =========================================
// 5.0 components 組件、獨立使用
// ========================================= */
/* =========================================
// 6.0 Layout 全局布局
// ========================================= */
/* =========================================
// 7.0 Pages 個別頁面
// ========================================= */
/* =========================================
// 8.0 Custom styles 客製化設定
// ========================================= */
/* =========================================
// 9.0 scheme 面板設定
// ========================================= */
