.wrapper {
    // background-color: #bbb9c1;
    .section {
        width: 600px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 6px 10px 27px -10px rgba(0, 0, 0, 0.4);
        transition: all .2s;
        &:hover {
            box-shadow: 6px 10px 50px -10px rgba(0, 0, 0, 0.4);
            transform: translateX(-50%) translateY(-13px);
        }
    }
    .section-todo {
        background-color: #bbb9c1;
        background-color: #877ca9;
    }
}

.heading-primary {
    color: #fff;
    text-align: center;
    &--main {
        display: block;
        padding: 30px 20px 20px 20px;
        font-size: 6rem;
        text-transform: uppercase;
    }
    &--sub{
        display: inline-block;
        padding: 0 20px;
        line-height: 20px;
    }
}

.todo__list {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff; 
    box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
h5 {
    margin-top: 28px;
    padding: 20px 0;
    border-top: 1px dashed #bbb9c1;
}
.todo__item, .todo__item--add, .todo__item--complete {
    display: flex;
    padding: 5px 0;
    width: 100%;
    // border: 1px solid;
    transition: all .4s;
    &:hover {
        background: rgba(202, 201, 206, 0.59);
    }
    > * {
        // border: 1px solid;
        padding: 6px;
    }
    &--add {        
        padding: 20px 0 20px 37px;
        margin-top: 10px;
        background-color: #eee;
    }
    &--complete {
        opacity: 0.4;
        background-color: #fff;
        &:hover {
            opacity: 1;
            .form__checkbox-group {
                opacity: 1;
            }
            input {
                background: #fff;
            }

        }
        input {
            background: transparent;
        }
        .form__checkbox-group {
            opacity: 0;
        }
    }

}

.form__checkbox-group {
    position: relative;
    width: 50px;
    height: 50px;
    .form__checkbox-input {
        // display: inline-block;
        // width: 35px;
        // height: 35px;
        // background-color: rgba(51, 51, 51, 0.5);
        // border-radius: 100%;
        // opacity: 0.3;
        display: none;
    }
    .form__checkbox-label {
        position: relative;
        font-size: 1.6rem;
        cursor: pointer;
    }
    .form__checkbox-button {
        position: absolute;
        left: 0;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        background-color: rgb(238, 238, 238);
        // border: 5px solid #55c57a;
        border-radius: 50%;
        transform: rotate(45deg);
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width:7px;
            height:22px;
            background-color:#ccc;
            left:18px;
            top:6px;
            transition: all .3s;
            opacity: 0;
        }
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 8px;
            height: 6px;
            background-color: #ccc;
            left: 11px;
            top: 22px;
            transition: all .3s;
            opacity: 0;
        }
    }
}
.form__checkbox-input:checked ~ .form__checkbox-label .form__checkbox-button::before,
.form__checkbox-input:checked ~ .form__checkbox-label .form__checkbox-button::after {
    opacity: 1;

}
.todo__content {
    margin-left: 20px;
    width: 100%;
    input {
        width: 100%;
        padding-left: 10px;
        border: none;
        // background-color: #e8e8e8;
        height: 40px;
        &:focus {
            // border: 1px solid #bbb9c1;
            background-color: #eee;
        }
    }
}

.todo__actions {
    min-width: 164px;
    // width: 37%;
    font-size: 16px;
    a {
        display: inline-block;
        padding: 6px;
        color: #999;
        &:hover {
            color: #8875c1;
        }
    }
    i {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        font-weight: bold;
    }
}